@model Conductor.Desafio.Database.ViewModels.PessoaViewModel;
@{
    ViewData["Title"] = "Perfil";
    ViewData["idBody"] = "Perfil";
}

<div class="secoes">
    <h4>Perfil de Usuário</h4>
    <p class="descricao">Edite as informações ou confira o resumo da sua conta.</p>
    <table class="acoes">
        <tr>
            <td>
                <a class="ativo" onclick="editPessoa();">
                    <img src="~/images/Perfil/edit-pessoa.png" />
                    <p>Editar Perfil</p>
                </a>
            </td>
            <td><a><img src="~/images/vazio.png" /></a></td>
            <td><a><img src="~/images/vazio.png" /></a></td>
            <td><a><img src="~/images/vazio.png" /></a></td>
            <td><a><img src="~/images/vazio.png" /></a></td>
            <td><a><img src="~/images/vazio.png" /></a></td>
            <td><a><img src="~/images/vazio.png" /></a></td>
            <td><a><img src="~/images/vazio.png" /></a></td>
            <td style="margin-right: 0">
                <a onclick="modalExcluir();" style="margin-right: 0;" class="atalho">
                    <img src="~/images/Perfil/del-pessoa.png" />
                    <p>Excluir Perfil</p>
                </a>
            </td>
        </tr>
    </table>
</div>

<!--MODAL DE ADICIONAR-->
<div class="modal big" id="editPessoa" style="display: none">
    <div class="modal-header">
        <h3>Editar Pessoa</h3>
    </div>
    <form class="form" asp-controller="Perfil" asp-action="EditarPerfil/@ViewBag.Id" method="post">
        <div class="modal-body">
            <input type="hidden" asp-for="Pessoa.Id" />
            <label asp-for="Pessoa.Nome">Nome:</label>
            <span class="error" asp-validation-for="Pessoa.Nome"></span>
            <input asp-for="Pessoa.Nome" type="text" placeholder="Nome" />

            <label asp-for="Pessoa.Sobrenome">Sobrenome:</label>
            <span class="error" asp-validation-for="Pessoa.Sobrenome"></span>
            <input asp-for="Pessoa.Sobrenome" type="text" placeholder="Sobrenome" />

            <label asp-for="Pessoa.Cpf">CPF:</label>
            <span class="error" asp-validation-for="Pessoa.Cpf"></span>
            <input class="cpf" asp-for="Pessoa.Cpf" type="text" placeholder="CPF" />

            <label asp-for="Pessoa.Email">E-mail:</label>
            <span class="error" asp-validation-for="Pessoa.Email"></span>
            <input asp-for="Pessoa.Email" type="email" placeholder="E-mail" />

            <label>Senha:</label>
            <span class="error" asp-validation-for="Pessoa.Senha"></span>
            <input asp-for="Pessoa.Senha" name="Pessoa.Senha" type="password" placeholder="Senha" />

            <label>Repita a Senha:</label>
            <span class="error" asp-validation-for="Pessoa.ConfSenha"></span>
            <input asp-for="Pessoa.ConfSenha" name="Pessoa.ConfSenha" type="password" placeholder="Repita a senha." />

            <label asp-for="Pessoa.Nascimento">Data de Nascimento:</label>
            <span class="error" asp-validation-for="Pessoa.Nascimento"></span>
            <input class="date" asp-for="Pessoa.Nascimento" type="date" placeholder="Nome" />


            <label asp-for="Pessoa.Genero">Gênero</label>
            <input asp-for="Pessoa.Genero" type="radio" value="@Conductor.Desafio.Core.Enums.GeneroEnum.masculino" />
            <span>Masculino</span>
            <input asp-for="Pessoa.Genero" type="radio" value="@Conductor.Desafio.Core.Enums.GeneroEnum.feminino" />
            <span>Feminino</span>
        </div>
        <div class="modal-footer">
            <button onclick="$.modal.close();" type="button" class="fechar" onclick="$.modal.close();">Fechar</button>
            <button type="submit" class="cadastrar">Cadastrar</button>
        </div>
    </form>
</div>

<!--MODAL DE ADICIONAR-->
<div class="modal big" id="modalExcluir" style="display: none">
    <div class="modal-header">
        <h3>Adicionar Usuário</h3>
    </div>
    <form class="SetupForm" asp-controller="Perfil" asp-action="ExcluirPerfil/@ViewBag.Id" method="post">
        <div class="modal-body">
            <h3>Tem certeza que deseja excluir sua conta?</h3>
        </div>
        <div class="modal-footer">
            <button onclick="$.modal.close();" type="button" class="fechar">Fechar</button>
            <button type="submit" class="cadastrar">Excluir</button>
        </div>
    </form>
</div>

@section Scripts{
    @Html.Partial("../Shared/_ValidationScriptsPartial.cshtml")
}

