@{
    ViewData["Title"] = "Home";
}
<div class="secoes">
    <h4>Home</h4>
    <p class="descricao">Resumo do sistema</p>
    <h3 style="color:#303030; font-weight: 400">Bem vindo ao sistema teste do desafio Conductor, navegue pelo menu lateral para explorar as funcionalidades do sistema.</h3>
</div>